.App {
  
  background-image: url('../../img/chairs-red.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;

 

  height: 100vmax;
  width: 100vmax;
}



.movie-detail-ctn {
  margin: 0 auto;
  width: 700px;
  background: #b17c7c;
  opacity: 0.7;
  border-radius: 15px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  border-radius: 15px;
}

.details {
  padding: 20px 50px 0 50px;
}

.movie-detail-ctn2 {
  display: flex;
  flex-direction: row;
}

.movie-card {
  margin-top: 75px;
  font: 14px/22px "Lato", Arial, sans-serif;
 
}

.title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 13px;
    line-height: normal;
    position: relative;
    padding: 50px 0 0 50px;
}
.title span {
    margin-left: 12px;
    background: #f0de78;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
    
  }
.description {
  bottom: 0px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  
}
.column {
    padding-right: 40px;
    margin-left: 20px;
    width: 480px;
}


.img img {
  width: 200px;
  padding-left: 50px;
  padding-top: 20px;
}
